# Git files.
.gitattributes text eol=lf
.gitignore text eol=lf

# JSON files.
*.json text eol=lf
*.lock text eol=lf

# Markdown files.
*.md text eol=lf

# PHP files.
*.php text eol=lf

# XML files.
*.xml text eol=lf

# YAML files.
*.yml text eol=lf
